<%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/shared/style.css">
    <link rel="stylesheet" href="/assets/css/demo_1/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <%- include ('../partials/navbar.ejs')%>

        <div id="layoutSidenav_content">
            <main>
                <div id="container-fluid" class="container-fluid">

                    <h1 class="mt-3 display-6">Dashboard Geral</h1>

                    <div class="row page-title-header">
                        <div class="page-header mb-3 mt-0">
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="page-header-toolbar">


                                <input id="anythingSearch" type="search" id="form1"
                                    class="ml-auto form-control  input-group-sm" placeholder="Procurar..."
                                    style="width: 20%; height:29px" />



                                <button type="button" class="btn btn-light btn-sm dropdown float-right ml-1"
                                    data-toggle="dropdown" data-flip="false"> Filtros <i class="fas fa-search"></i>
                                </button>

                                <ul id="filterList" class="dropdown-menu  checkbox-menu allow-focus">
                                    <!-- 
                                    <li class="ml-1">Processos</li>
                                    <hr class="mb-0 mt-0">
                                    <li class="small"><label> <input type="checkbox"> Corte</label></li>
                                    <li class="small"><label> <input type="checkbox"> Borda</label></li>

                                    <li class="ml-1">Cadastro</li>
                                    <hr class="mb-0 mt-0">
                                    <li class="small"><label> <input type="checkbox"> Ativo</label></li>
                                    <li class="small"><label> <input type="checkbox"> Desativado</label></li>

                                    <li class="ml-1">Status</li>
                                    <hr class="mb-0 mt-0">
                                    <li class="small"><label> <input type="checkbox"> Online</label></li>
                                    <li class="small"><label> <input type="checkbox"> Offline</label></li> -->
                                </ul>



                            </div>
                        </div>
                    </div>

                    <div id="myDIV" class="row">
                        <%if(collaborators==null){ %>
                            <h1>Sem colaboradores cadastrados no sistema.</h1>
                            <%}%>
                            <ul class='studentList'>

                                <%collaborators.forEach(collaborator=> { %>
                                    <li class="<%=collaborator.process.process_name%>">
                                    <div class="col-xl-4" style="display: flex;"
                                      >
                                        <div class="card mb-4">

                                            <div class="card-body"
                                                onclick="redirect('<%=collaborator.process.process_name%>', '<%=collaborator.id%>')">

                                                <h6 id="collaboratorLogged_<%=collaborator.id%>" class="float-right"
                                                    style="color: red">offline</h6>
                                                <img class="img-fluid float-right" width="13%"
                                                    src="../../assets/img/prod.png"
                                                    style="margin-top: 6%; margin-right:-12.5%">


                                                <h6 id="collaborator" value="<%=collaborator.collaborator_name%>"
                                                    class="mr-auto  ml-2 display-5">Colaborador:
                                                    <b>
                                                        <%=collaborator.collaborator_name%>
                                                    </b>
                                                </h6>


                                                <h6 id="process" value="<%=collaborator.process.process_name%>"
                                                    class="mr-auto ml-2 display-5">Processo:
                                                    <b>
                                                        <%=collaborator.process.process_name%>
                                                    </b>
                                                </h6>

                                                <h6 class="mr-auto  ml-2 display-5">Cadastro:
                                                    <% if(collaborator.status==true){%>
                                                        <b> Ativo</b>
                                                        <%}else{%>
                                                            <b> Desativado</b>
                                                            <%}%>
                                                </h6>
                                            </div>
                                            <div class="card-footer text-center">
                                                <h5 id="collaboratorExec_<%=collaborator.id%>"
                                                    class="text-center display-5">
                                                    <b>
                                                         
                                                    </b>
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                    </li>
                                    <%})%>
                    </div>

            </main>
            <%- include ('../partials/footer.ejs')%>
        </div>

        </html>

        <script src="/js/socket.io.js"></script>

        <script>
            //Conexao com socket io
            var url_atual = window.location.href.split('/');
            var url = url_atual[2];
            var socket = io('192.168.1.67');
            console.log(url)
        </script>


        <script>
            /*      $(document).ready(function () {
                     $("#anythingSearch").on("keyup", function () {
                         var value = $(this).val().toLowerCase();
                         $(".col-xl-4").filter(function () {
                             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                         });
                     });
                 });
     
                 document.getElementById("anythingSearch").addEventListener("search", function (event) {
                     var value = $(this).val().toLowerCase();
                     $(".col-xl-4").filter(function () {
                         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                     });
                 });
      */
            $('.card-body').hover(function () {
                $(this).css('cursor', 'pointer');
            });

            function redirect(process, id) {
                window.location.href = "/dashboard/" + process + '/' + id;
            }
        </script>


        <script>
            socket.on("newDataAvailable", (data) => {

                $('#collaboratorLogged_' + data.collaborator_id).html('online');
                $('#collaboratorLogged_' + data.collaborator_id).css('color', 'rgb(14, 202, 14)');
                $('#collaboratorExec_' + data.collaborator_id).html(data.activity_name);
                console.log(newDataChart)
            })

            socket.on('collaboratorOff', (data) => {
                $('#collaboratorLogged_' + data.collaborator_id).html('offline');
                $('#collaboratorLogged_' + data.collaborator_id).css('color', 'red');
                $('#collaboratorExec_' + data.collaborator_id).html(' ');
            })

        </script>
        <script src="https://code.jquery.com/jquery-1.7.2.min.js"
            integrity="sha256-R7aNzoy2gFrVs+pNJ6+SokH04ppcEqJ0yFLkNGoFALQ=" crossorigin="anonymous"></script>
        <script>

            //Bloqueia o dropdown do filter list de fechar ao selecionar uma opçao
            $(document).on('click', 'li', function (event) {
                event.stopPropagation();
            });

            //OPÇÕES DE PROCESSOS
            $('#filterList').append('<li class="ml-1">Processos</li> <hr class="mb-0 mt-0">');

            var processes = [];
            '<%collaborators.forEach(collaborator=> { %>'
            processes.push('<%=collaborator.process.process_name%>')
            '<%})%>'

            //FUNÇÃO PARA RETORNAR VALOR UNICO
            function unique(value, index, self) {
                return self.indexOf(value) === index;
            }

            //PARA CADA PROCESSO UNICO, INSERE NA LISTA
            processes.filter(unique).forEach(process => {
                $('#filterList').append('<li class="small"><label> <input type="checkbox" value="' + process + '"' + '>' + process + '</label></li>');
            });


            //OPÇÕES DE CADASTRO - ATIVO OU DESATIVADO
            $('#filterList').append('<li class="ml-1">Cadastro</li> <hr class="mb-0 mt-0">');
            $('#filterList').append('<li class="small"><label> <input type="checkbox" value="' + 'Ativo' + '"' + '>' + 'Ativo' + '</label></li>');
            $('#filterList').append('<li class="small"><label> <input type="checkbox" value="' + 'Desativado' + '"' + '>' + 'Desativado' + '</label></li>');


            //OPÇOES DE STATUS ONLINE OU OFFLINE
            $('#filterList').append('<li class="ml-1">Status</li> <hr class="mb-0 mt-0">');
            $('#filterList').append('<li class="small"><label> <input type="checkbox" value="' + 'Online' + '"' + '>' + 'Online' + '</label></li>');
            $('#filterList').append('<li class="small"><label> <input type="checkbox" value="' + 'Offline' + '"' + '>' + 'Offline' + '</label></li>');

        </script>
        <!-- 
        <script>
            $('#filterList li input').on('click', function () {
                var checked = $(this).prop('checked');
                var v = $(this).val().toLowerCase();

                      $(".col-xl-4").filter(function () {

                        if (checked == true) {
                                return $(this).toggle($(this).text().toLowerCase().indexOf(v) > -1)
                         } else {
                             !$(this).toggle($(this).text().toLowerCase().indexOf('') > -1)
                         }
                     }); 
            })
        </script>
 -->


        <script>
            $(document).ready(function () {
                $("#anythingSearch").keyup(function () {

                    // Retrieve the input field text and reset the count to zero
                    var filter = $(this).val(),
                        count = 0;

                    // Loop through the comment list
                    $(".col-xl-4").each(function () {

                        // If the list item does not contain the text phrase fade it out
                        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                            $(this).fadeOut(0);

                            // Show the list item if the phrase matches and increase the count by 1
                        } else {
                            $(this).show();
                            count++;
                        }
                    });

                    /*     // Update the count
                        var numberItems = count;
                        $("#filter-count").text("Number of Comments = " + count); */
                });
            });
            /* 
                        $(document).ready(function () {
                            //  $('.col-xl-4' + $(this).attr('rel')).show();
            
            
                            $('#filterList').find('input:checkbox').live('click', function () {
                               
                               
                                $(this).hide()
            
                                $('.col-xl-4').find('input:checked').each(function () {
                                 //   alert('clicou')
            
                                    //  $('.col-xl-4').attr('rel').show();
                                });
                            });
                        }); */


            $(document).ready(function () {
                $('.studentList > li.' + $(this).attr('rel')).show();

                $('div.tags').find('input:checkbox').live('click', function () {
                    $('.studentList > li').hide();
                    $('div.tags').find('input:checked').each(function () {
                        $('.studentList > li.' + $(this).attr('rel')).show();
                    });
                });
            });
        </script>