<%- include ('../partials/header.ejs')%>
    <%- include ('../partials/navbar.ejs')%>

        <div id="layoutSidenav_content">
            <main>
                <div id="mainDiv" style="display:none" class="container-fluid">
                    <h1 class="mt-4">Editar Processos</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href='/'>Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/processos">Processos</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Edição de Processo</h5>
                            <form action="/processos/editar/<%=process.id%>" method="post">

                                <div class="form-group">
                                    <label class="mt-1 mb-1">Nome do Processo <text>*</text> </label>
                                    <input class="form-control" name="processNameInput"
                                        placeholder="Alterar o nome do processo para..."
                                        value="<%=process.process_name%>" required>
                                    <input type="hidden" name='id' value="<%=process.id%>" />
                                    <!-- 
                                    <label class="mt-3">Descrição do Processo </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->

                                    <label class="mt-3 mb-1">Contador Variavel </label>
                                    <input class="form-control" name="process_counterInput" id="process_counterInputId"
                                        placeholder="Digite o nome da variavel que existe neste processo"
                                        maxlength="15" value="<%=process.process_counter%>" disabled>


                                    <div class="form-check mt-1">
                                        <input name="process_counterCheckBox" class="form-check-input" type="checkbox"
                                            id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Habilitar Contador
                                        </label>
                                        <a type="button" class="item" data-toggle="popover"
                                            data-content="Esta opção gera um contador na pagina de coletor. Ex1: No processo de corte a variavel é Chapas, definindo o contador como chapas será possivel contar quantidade de chapas cortadas. Ex2: No processo de montagem a variavel é Modulos, definindo o contador como modulos é será possivel contar a quantidade de modulos montados."><i
                                                class="zmdi zmdi-info"></i> </a>
                                    </div>


                                    <label class="mt-2 mb-1">Meta Diaria</label>
                                    <input type="number" class="form-control" name="processGoalInput"
                                        id="processGoalInputId" placeholder="Digite um valor para meta diaria"  value="<%=process.daily_goal%>" disabled>


                                    <div class="form-check mt-1">
                                        <input name="processGoalCheckBox" class="form-check-input" type="checkbox"
                                            id="defaultCheck2" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            Habilitar Meta
                                        </label>
                                        <a type="button" class="item" data-toggle="popover"
                                            data-content="Esta opção gera uma meta para o contador. Ex1: No processo de corte o contador é chapas e a META é de 22 chapas no dia. Ex2: No processo de montagem o contador é a quantidade de modulos montados e a META é 10 modulos no dia."><i
                                                class="zmdi zmdi-info"></i> </a>
                                    </div>


                                </div>
                                <button type="submit" class="btn btn-dark mt-2">Alterar</button>
                            </form>


                            <% if(statusCode==201){%>
                                <div class="alert alert-success mt-3" role="alert">
                                    Alterado com sucesso!
                                </div>
                                <% } %>
                                    <% if(statusCode==406){%>
                                        <div class="alert alert-danger mt-3" role="alert">
                                            Erro: Processo já cadastrado.
                                        </div>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </main>


            <%- include ('../partials/footer.ejs')%>


                <script>
                    $('#mainDiv').show()
                    $('[data-toggle="popover"]').popover();

                    $('body').on('click', function (e) {
                        $('[data-toggle=popover]').each(function () {
                            // hide any open popovers when the anywhere else in the body is clicked
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                $(this).popover('hide');
                            }
                        });
                    });

                    $(function () {

                        '<% if (process.process_counter == null) { %>' //Se o processo possui grupo e a data da criação da atividade é a mesma data do grupo, significa que é uma atividade agrupavel
                        $("#defaultCheck1").prop("checked", false) //Ativa a opção do check de atividade agrupavel
                        $('#process_counterInputId').attr('disabled', true)

                        '<%} else { %>'
                        $('#defaultCheck2').attr('disabled', false)
                        $("#defaultCheck1").prop("checked", true) //Ativa a opção do check de atividade agrupavel
                        $('#process_counterInputId').attr('disabled', false)
                        '<%}%>'

                        '<% if (process.daily_goal != null) { %>'
                        $('#defaultCheck2').attr('disabled', false)
                        $("#defaultCheck2").prop("checked", true) //Ativa a opção da meta
                        $('#processGoalInputId').attr('disabled', false)

                        '<%}%>'

                    })



                    $('#defaultCheck1').change(function () { //função para ao alterar o check 1
                        if ($('#defaultCheck1').is(":checked")) { //se estiver marcado
                            $('#process_counterInputId').attr('disabled', false) //ira habilitar o check 2
                            $('#process_counterInputId').attr('required', true) //ira habilitar o check 2
                            $('#defaultCheck2').attr('disabled', false)

                        } else {
                            $('#process_counterInputId').val('')
                            $('#processGoalInputId').val('')
                            $('#processGoalInputId').attr('disabled', true)
                            $('#defaultCheck2').prop('checked', false)
                            $('#process_counterInputId').attr('disabled', true)
                            $('#defaultCheck2').attr('disabled', true)
                        }
                    })


                    $('#defaultCheck2').change(function () { //função para ao alterar o check 1
                        if ($('#defaultCheck1').is(":checked") && $('#defaultCheck2').is(":checked")) { //se estiver marcado
                            $('#processGoalInputId').attr('disabled', false) //ira desabilitar o check 2
                            $('#processGoalInputId').attr('required', true)
                        } else {
                            $('#processGoalInputId').attr('required', false)
                            $('#processGoalInputId').val('')
                            $('#processGoalInputId').attr('disabled', true)
                        }
                    })


                </script>


                </html>