<%- include ('../partials/header.ejs')%>
    <%- include ('../partials/navbar.ejs')%>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Gerenciar Administrador</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header h4">
                            <i class="fas fa-table mr-1"></i>
                            Administrador
                            <a href="/admin/criar" class="btn btn-dark float-right" role="button">Adicionar
                                Administrador <i class="zmdi zmdi-account-add float-right"></i></a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID ADMIN</th>
                                            <th>ADMINISTRADOR</th>
                                            <th>LOGIN</th>
                                            <th>SENHA</th>
                                            <th>AÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%admins.forEach(admin=> { %>
                                            <tr>
                                                <td>
                                                    <%=admin.id%>
                                                </td>
                                                <td>
                                                    <%=admin.admin_name%>
                                                </td>
                                                <td>
                                                    <%=admin.login%>
                                                </td>
                                                <td>********</td>
                                                <td>

                                                    <div class="table-data-feature float-left">
                                                        <a href="/admin/editar/<%=admin.id%>">
                                                            <button class="item mr-1" data-toggle="tooltip"
                                                                data-placement="top" title="Editar">
                                                                <i class="zmdi zmdi-edit"></i>
                                                            </button> </a>

                                                        <form id="form" action="/admin/deletar/<%=admin.id%>"
                                                            method="POST" onsubmit="sendForm(event, this)">
                                                            <button class="item mr-1" data-placement="top"
                                                                title="Deletar" data-toggle="modal"
                                                                data-target="#modalDelete"
                                                                onclick="sendDataToModal('<%=admin.login%>')" target="_blank">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                        </form>

                                                        <button class="item" data-toggle="modal" data-placement="top"
                                                            title="Mais" data-target="#modalInfo"
                                                            onclick="modalMais('<%=admin.createdAt%>', '<%=admin.updatedAt%>')">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include ('../partials/modal.ejs')%>
                <%- include ('../partials/footer.ejs')%>
                </html>

                    <script>

                        function sendDataToModal(login) { //função que envia os dados para a modal na confirmação de deleção
                            $('#modal-title-id1').html('Deletar Administrador');
                            $('#modal-body-id1').html('<h5><center>DELETAR O ADMINISTRADOR: <b>' + login + '</b>');
                        }

                        function sendForm(event, form) { //função que envia o formulario de atualização dos dados
                            event.preventDefault();
                            document.getElementById("btn-confirm").addEventListener("click", function () {
                                form.submit();
                            });
                        }

                        function modalMais(d1, d2) { //função que exibe a modal com as informaçoes
                            $('#modal-body-id2').html("CRIADO NA DATA: " + "<br><b>" + d1 + '</b><br><br>' + 'ATUALIZADO NA DATA: ' +
                                "<br><b>" + d2 + '</b>');
                        }

                    </script>