<%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/shared/style2.css">
    <%- include ('../partials/navbar.ejs')%>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Editar Colaborador</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/colaboradores">Colaboradores</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                    <div class="card" id="mainDiv" style="display:none">
                        <div class="card-body">
                            <h5 class="card-title">Edição de Colaborador</h5>

                            <div class="float-right" style="margin-top: -4%; ">
                                <div class="mx-auto text-center">
                                    <label>Administrador</label>
                                    <br>
                                    <div class="btn-group btn-toggle">
                                        <button class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Transformar este Colaborador em Administrador">SIM</button>
                                        <button class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="bottom" title="Transformar este Colaborador em Administrador">NAO</button>
                                    </div>
                                </div>
                            </div>


                            <form action="/colaboradores/editar/<%=collaborator.id%>" method="POST">
                                <input type="hidden" id="adminOnOff" name="inputAdminOnOff" value="0">
                                <div class="form-group">
                                    <label for="inputColaborador" class="mt-1">Nome do Colaborador <text
                                            style="color: red;">*</text>
                                    </label>
                                    <input class="form-control" name="inputCollaborator" placeholder="Insira o nome do colaborador" value="<%=collaborator.collaborator_name%>" required>
                                    <label for="inputLogin" class='mt-3'>Login <text style="color: red;">*</text>
                                    </label>
                                    <input class="form-control" name="inputLogin" placeholder="Login de acesso do colaborador" value="<%=collaborator.login%>" required>
                                    <label class="mt-3" for="senha">Senha <text style="color: red;">*</text> </label>
                                    <input type="password" class="form-control" name="inputPassword" placeholder="*********" minlength="6">
                                    <label class="mt-3">Processo <text style="color: red;">*</text> </label>
                                    <select class="custom-select" name="processSelect" id="processSelectId" required>

                                        <option value="" disabled>Selecione o processo...</option>
                                        <%processes.forEach(process=> { %>
                                            <option value="<%=process.id%>">
                                                <%=process.process_name%>
                                            </option>
                                            <%})%>

                                    </select>

                                    <label for="inputWorkTime" class="mt-3">Horario de Trabalho <text
                                            style="color: red;">*</text> <a type="button" class="item"
                                            data-toggle="popover"
                                            data-content="A quantidade de horas trabalhadas no dia sera utilizado para calcular o indice de produtividade.">
                                            <i class="zmdi zmdi-info"></i> </a>
                                    </label>
                                    <input type="number" class="form-control" name="inputWorkTime" value="<%=collaborator.work_time%>" placeholder="Horas de trabalho no dia" min="0" max="24" maxlength="4" step="0.5" required>

                                </div>
                                <button type="submit" class="btn btn-dark">Alterar</button>
                            </form>


                            <% if(statusCode==201){%>
                                <div class="alert alert-success mt-3" role="alert">
                                    Alterado com sucesso!
                                </div>
                                <% } %>
                                    <% if(statusCode==406){%>
                                        <div class="alert alert-danger mt-3" role="alert">
                                            Erro: Login ja foi cadastrado no sistema.
                                        </div>
                                        <% } %>
                                            <% if(statusCode==409){%>
                                                <div class="alert alert-danger mt-3" role="alert">
                                                    Erro: Login ja foi cadastrado no sistema.
                                                </div>
                                                <% } %>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLongTitle">ATENÇÃO!</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <b>
                                    Este Colaborador será transformado em Administrador.
                                    <br>
                                    Sera liberado o acesso ao Painel Administrativo/Dashboards e sera encerrado o acesso
                                    a
                                    tela coletor imediatamente.
                                </b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </main>
            <%- include ('../partials/footer.ejs')%>

                </html>



                <script>
                    $(function() {
                        $('[data-toggle="popover"]').popover(); //ativa o popover
                    })
                    $('body').on('click', function(e) { //ao clicar no body, oculta o popover
                        $('[data-toggle=popover]').each(function() {
                            // hide any open popovers when the anywhere else in the body is clicked
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                $(this).popover('hide');
                            }
                        });
                    });
                </script>

                <script>
                    $(function() { //Ativa o formulario
                        $('#mainDiv').show(); //exibe a div principal
                        let $select1 = $('#processSelectId'),
                            $options = $select1.find('option');

                        //CARREGA AS INFORMAÇÕES DO BANCO NOS COMPONENTES
                        $select1.prop('value', '<%=collaborator.process_id%>').prop(
                            'selected', //Inicia o select de processo com o valor vindo do banco
                            true)
                    })
                </script>

                <script>
                    $(function() { //Ativa o formulario
                        $('#mainDiv').show();
                        let $select1 = $('#processSelectId'),
                            $options = $select1.find('option');

                        //CARREGA AS INFORMAÇÕES DO BANCO NOS COMPONENTES
                        $select1.prop('value', '<%=collaborator.process_id%>').prop(
                            'selected', //Inicia o select de processo com o valor vindo do banco
                            true)
                    })
                </script>

                <script>
                    var count = 0; //variavel contador do botao transformar administrador
                    $('.btn-toggle').click(function() { //ao clicar no botao
                        count++; //incrementa a variavel
                        $(this).find('.btn').toggleClass('btn-dark'); //altera a classe do botão
                        if (count % 2 == 1) { //se o resultado é igual a 1
                            $('#modalAdmin').modal().show(); //exibe a modal de confirmação
                        }
                        $('#adminOnOff').val(count); // insere o valor do contador na variavel
                    });
                </script>