<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/css/demo_1/flow2.css">

  <title>MPA - MONITORADOR DE PROCESSOS E ATIVIDADES</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <div class="header-section">
    <div class="header-top-bar">
      <div class="top-bar-block left">
        <div class="search-form-wrapper">
          <form id="search-form">
            <input id="search-input">
            <button id="search-submit" type="submit">
              <i class="fas fa-search search-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <div class=" top-bar-logo logo ">
        FLUXO DE PROCESSO
      </div>
      <div class="top-bar-block right">
        <!--      <div class="profile-icon-block"><img class="profile-icon"
            src="https://pbs.twimg.com/profile_images/751782659265822720/bQZcBl8v_bigger.jpg"></div> -->
      </div>
    </div>
  </div>



  <section class="lists-container">

    <!-- <div class="jobs-list-wrapper"> -->
    <%processes.forEach(process=>{%>
      <!--   <div class="jobs-list">
        <div class="column__title--wrapper">
          <h2 class="jobs-list-heading" style="color: #EE0000;">Tempo de Espera</h2>
          <h2 class="jobs-list-heading process_name">
            <%=process.process_name%>
          </h2>
          <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="jobs-list-body" id="process_wait_<%=process.id%>">
          <ul class="list-items" id="process_list_wait_<%=process.id%>">
            <li>
              <div class="item job-block mx-auto">
                <div class="item job-name-block">
                  <div class="item job-name">Corporate Logo</div>
                  <div class="item job-edit"><img class="edit-job-icon"
                      src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                </div>
                <div class="item job-info-block">
                  <div class="job-date">21 Apr</div>
                  <div class="item user-email">test@gmail.com</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="jobs-list-footer">
          <button class="add-card-btn btn" onclick="addCard()" id="addBtn">+ Adicionar Cartão</button>
        </div>
      </div>
 -->
      <div class="jobs-list" id="<%=process.id%>">
        <i class="fas fa-ellipsis-h"></i>
        <div class="column__title--wrapper">
          <h2 class="jobs-list-heading process_name">
            <%=process.process_name%>
          </h2>
        </div>
        <div class="jobs-list-body" id="process_<%=process.id%>">
          <ul class="list-items" id="process_list_<%=process.id%>">
            <li>
              <div class="item job-block mx-auto">
                <div class="item job-name-block">
                  <div class="item job-name">Corporate Logo</div>
                  <div class="item job-edit"><img class="edit-job-icon"
                      src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                </div>
                <div class="item job-info-block">
                  <div class="job-date">21 Apr</div>
                  <div class="item user-email">test@gmail.com</div>
                </div>
              </div>
            </li>

          </ul>

        </div>
        <div class="jobs-list-footer">
          <button class="add-card-btn btn" onclick="addCard()" id="addBtn">+ Adicionar Cartão</button>
        </div>
      </div>
      <%})%>

        <!-- </div> -->
        <!-- 
    <button class="add-card-button">Add a card...</button> -->

  </section>
  <div class="footer-section"></div>
</body>

<div class="modal fade " id="myModal" tabindex="-1">
  <div class="modal-dialog modal-lg">

    <div class="container-modal modal-content">
      <a id="close" class="active" onclick="closeModal()"> <i class="fa fa-2x fa-times"></i></a>

      <div class="leftbox">
        <nav>
          <a id="profile" class="active"><i class="fa fa-user"></i></a>
          <a id="payment"><i class="fa fa-comments"></i></a>
          <a id="subscription"><i class="fas fa-tachometer-alt"></i></a>
          <a id="privacy"><i class="fa fa-tasks"></i></a>
          <a id="settings"><i class="fa fa-cog"></i></a>
        </nav>
      </div>
      
      <div class="rightbox">
        <div class="profile">
          <h1>Dados do Cartão</h1>
          <h2>Titulo do Cartão</h2>
          <h2>
            <textarea class="form-control"></textarea>
          </h2>
          <h2>Birthday</h2>
          <p>July 21</p>
          <h2>Gender</h2>
          <p>Female</p>
          <h2>Email</h2>
          <p>example@example.com <button class="btn">update</button></p>
          <h2>Password </h2>
          <p>••••••• <button class="btn">Change</button></p>
        </div>

        <div class="payment noshow">
          <h1>Payment Info</h1>
          <h2>Payment Method</h2>
          <p>Mastercard •••• •••• •••• 0000 <button class="btn">update</button></p>
          <h2>Billing Address</h2>
          <p>1234 Example Ave | Seattle, WA <button class="btn">change</button></p>
          <h2>Zipcode</h2>
          <p>999000</p>
          <h2>Billing History</h2>
          <p>2018<button class="btn">view</button></p>
          <h2>Redeem Gift Subscription </h2>
          <p><input type="text" placeholder="Enter Gift Code"></input> <button class="btn">Redeem</button></p>
        </div>

        <div class="subscription noshow">
          <h1>Your Subscription</h1>
          <h2>Payment Date</h2>
          <p>05-15-2018 <button class="btn">pay now</button></p>
          <h2>Your Next Charge</h2>
          <p>$8.48<span> includes tax</span></p>
          <h2>Hulu Base Plan</h2>
          <p>Limited Commercials <button class="btn">change plan</button></p>
          <h2>Add-ons</h2>
          <p>None <button class="btn">manage</button></p>
          <h2>Monthly Recurring Total </h2>
          <p>$7.99/month</p>
        </div>

        <div class="privacy noshow">
          <h1>Privacy Settings</h1>
          <h2>Manage Email Notifications<button class="btn">manage</button></h2>
          <p></p>
          <h2>Manage Privacy Settings<button class="btn">manage</button></h2>
          <p></p>
          <h2>View Terms of Use <button class="btn">view</button></h2>
          <p></p>
          <h2>Personalize Ad Experience <button class="btn">update</button></h2>
          <p></p>
          <h2>Protect Your Account <button class="btn">protect</button></h2>
          <p></p>
        </div>
        <div class="settings noshow">
          <h1>Account Settings</h1>
          <h2>Sync Watchlist to My Stuff<button class="btn">sync</button></h2>
          <p></p>
          <h2>Hold Your Subscription<button class="btn">hold</button></h2>
          <p></p>
          <h2>Cancel Your Subscription <button class="btn">cancel</button></h2>
          <p></p>
          <h2>Your Devices <button class="btn">Manage Devices</button></h2>
          <p></p>
          <h2>Referrals <button class="btn">get $10</button></h2>
          <p></p>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <div id="modalPassword" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">Confirmar a alteração</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>

      </div>
      <div class="modal-body text-center">
        <h6><b>Insira a sua senha para confirmar a alteração</b></h6>
        <div class="input-group input-group-sm  mt-3">
          <input type="password" class="form-control" aria-label="Exemplo do tamanho do input"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-hover" style="width: 100%;" onclick="confirmModal()">Confirmar</button>
      </div>
    </div>
  </div>
</div> -->



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/js/jquery.confirm.min.js" crossorigin="anonymous"></script>


<script>
  var newList = `
  <div class="jobs-list">
      <div class=" column__title--wrapper">
        <h2 class="jobs-list-heading">In Progress</h2>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="jobs-list-body" id="in-progress">
        <ul class="list-items" id="rework-jobs-list">
          <li>
            <div class="item job-block" id="in-progress-test">
              <div class="item job-name-block">
                <div class="item job-name">Corporate Logo</div>
                <div class="item job-edit"><img class="edit-job-icon"
                    src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
              </div>
              <div class="item job-info-block">
                <div class="job-date">21 Apr</div>
                <div class="item user-email">test@gmail.com</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="jobs-list-footer">
        <button class="add-card-btn btn" onclick="addCard()" id="addBtn">+ Adicionar Cartão</button>
      </div>
    </div>
`;

  $('.add-card-button').click(function (e) {
    var $newList = $(newList);
    $('.lists-container').find('.jobs-list').last().after($newList);
  });

</script>



<script>
  var listId = [];
  $.each($('.list-items'), function () {
    listId.push(this.id);
  });

  var id_list = []; //variavel que salva as listas com os id
  '<%processes.forEach(process=>{%>'
  id_list.push('#process_list_' + '<%=process.id%>', '#process_list_wait_' + '<%=process.id%>');
  '<%})%>'


  '<%processes.forEach(process=>{%>'

  $('#process_list_<%=process.id%>').sortable({
    connectWith: id_list,
    over: function (event, ui) { //triggered when sortable element hovers sortable list
      $('#process_list_<%=process.id%>').css('background-color', 'rgba(0,0,0,.1)')
    },
    out: function (event, ui) { //event is triggered when a sortable item is moved away from a sortable list.
      $('#process_list_<%=process.id%>').css('background-color', 'rgba(0,0,0,.0)')
    },
    receive: function (event, ui) { // event is triggered when an item from a connected sortable list has been dropped into another list
      $('#process_list_<%=process.id%>').css('background-color', 'rgba(0,0,0,.0)')
    },
    revert: 100,
    start: function (event, ui) { //event is triggered when sorting starts.
      var elementId = (ui.item[0].firstChild.id)
      $('#' + elementId).css('transform', 'rotate(4deg)');
    },
    stop: function (event, ui) { //event is triggered when sorting has stopped.
      var elementId = (ui.item[0].firstChild.id)
      $('#' + elementId).css('transform', 'rotate(0deg)');
    }
  });

  '<%})%>'


  //Sortable dos cards do processo
  $('.column__title--wrapper').on('mousedown', function () { //ao clicar e segurar para mover o processo
    $(".lists-container").sortable(); //inicia o sortable
    $(".lists-container").sortable("enable"); // ativa

    $(".lists-container").sortable({
      connectWith: ".lists-container",

      start: function (event, ui) {
        ui.item.addClass('tilt');
        $(this).attr('data-previndex', ui.item.index()); //cria um atributo temporario com a posição
      },
      update: function (e, ui) {
        var newIndex = ui.item.index(); //pega o indice atual
        var oldIndex = $(this).attr('data-previndex'); //pega o indice anterior
        var element_id = ui.item.attr('id'); //pega o id do card
        $(this).removeAttr('data-previndex'); //remove o indice antigo
      },
      beforeStop: function (event, ui) {
        $.confirm({
          closeIcon: function () {
            return $(".lists-container").sortable('cancel');
          },
          title: 'Confirmar alteração',
          content: '' +
            '<form action="" class="formName">' +
            '<div class="form-group">' +
            '<label>Digite sua senha para confirmar a alteração.</label>' +
            '<input type="password" class="name form-control" required />' +
            '</div>' +
            '</form>',
          buttons: {
            formSubmit: {
              text: 'Confirmar',
              btnClass: 'btn-blue',
              action: function () {
                var name = this.$content.find('.name').val();
                if (!name) {
                  $.alert('Senha invalida!');
                  return false;
                }
                $.alert('Your name is ' + name);
              }
            },
            cancelar: function () {
              $(".lists-container").sortable('cancel');
            },
          },
          onContentReady: function () {
            // bind to events
            var jc = this;
            this.$content.find('form').on('submit', function (e) {
              // if the user submits the form by pressing enter in the field.
              e.preventDefault();
              jc.$$formSubmit.trigger('click'); // reference the button and click it
            });
          }
        });
      },
      stop: function (event, ui) {
        ui.item.removeClass('tilt');
        $(".lists-container").sortable("disable"); //desativa o sortable ao finalizar
      }
    })
  });


  /* https://craftpip.github.io/jquery-confirm/ */


  function addCard() {
    $('#myModal').modal('show');
  }

  function closeModal() {
    $('#myModal').modal('hide');
  }



  /*active button class onclick*/
  $('nav a').click(function (e) {
    e.preventDefault();
    $('nav a').removeClass('active');
    $(this).addClass('active');
    if (this.id === !'payment') {
      $('.payment').addClass('noshow');
    }
    else if (this.id === 'payment') {
      $('.payment').removeClass('noshow');
      $('.rightbox').children().not('.payment').addClass('noshow');
    }
    else if (this.id === 'profile') {
      $('.profile').removeClass('noshow');
      $('.rightbox').children().not('.profile').addClass('noshow');
    }
    else if (this.id === 'subscription') {
      $('.subscription').removeClass('noshow');
      $('.rightbox').children().not('.subscription').addClass('noshow');
    }
    else if (this.id === 'privacy') {
      $('.privacy').removeClass('noshow');
      $('.rightbox').children().not('.privacy').addClass('noshow');
    }
    else if (this.id === 'settings') {
      $('.settings').removeClass('noshow');
      $('.rightbox').children().not('.settings').addClass('noshow');
    }
  });

</script>

</html>